/*body{
    background-color:black;
    color:white;
}
h1{
    background-color:purple;
    color:white;
}*/

.card-container{
    background-color: blue;
    margin: 10px;
    display: flex;
}
.card{
    height: 10px;
    width: 10px;
}
.card-container{
    background-color: aliceblue;
}
.card-img{
    height: 100px; 
    width: 150px;
    padding: 10px;
}
.card-content{
    padding: 10px;
    margin: 10px;
}