/*body{
    background-color:black;
    color:white;
}
h1{
    background-color:purple;
    color:white;
}*/
.card-container{
    background-color:white;
    margin: 10px;
    display: flex;
}
.card{
    height: 5px;
    width: 15px;
}
.card-container{
    background-color: white;
}
.card-img{
    height: 90px; 
    width: 150px;
    padding: 10px;
}
.card-content{
    padding: 10px;
    margin: 10px;
}