body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carousel-item {
    height: 700px;
    background-color: #333;
  }
  
  .carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  
  .carousel-caption h3 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }


